body{
    flex-direction: column;
    flex: 1;
    text-align: center;
}
.nav_bar{
    display: flex;
    padding: 8px;
}

.nav_links{
    display: flex;
    gap: 16px;
    list-style-type: none;
    padding-left: 50%;
    font-size: 18px;
    color: #e5e7eb;
}
.header{
    display: flex;
    padding: 8px;
}
.left{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}

.header_pic{
    display: flex;
    width: 100%;
    height: auto;
    
}

button{
    width: 100px;
    height: 50px;
}

.nav_bar,
.header,
.footer{
    background-color: #1f2937 ;
}

.title{
    font-size: 48px;
    font-weight: bold;
    color: #f9faf8;
}

.text{
    font-size: 18px;
    color: #e5e7eb;
}

.logo{
    font-size: 24px;
    color: #f9faf8;
}

.title2{
    display: flex;
    justify-content: center;
    font-size: 36px;

    
}

.pics{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 16px;
    
}

.set{
    display: flex;
    flex-direction: column;
    
}

.subtext{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    width: 125px;
}

.content{
    background-color: #f9faf8;;
}

.customer_quote{
    background-color: #e5e7eb;
    font-size: 36px;
    font-style: italic;
    color: #1f2937;
    padding: 32px;
}

button, .box{
    background-color: #3882f6;
}

.footer, .box, button{
    color: #e5e7eb;
}
